.boxCont {
    display: flex;
    flex-direction: row;
}

.giftIcon {
    font-size: 20rem;
    margin: auto;
    margin-bottom: 30px;
}

.pointsMessage {
    font-size: 6rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 1000;
    margin: auto;
    text-align: center;
}

.mainCont {
    background-color: #F7F4E9;
    border-radius: 2rem;
    color: #1d1d2c;
    display: flex;
    flex-direction: column;
    height: 600px;
    margin-top: 60px;
    padding: 10px;
    text-align: center;
}