

.boxCont {
    display: flex;
    flex-direction: row;
}

.giftIcon {
    font-size: 20rem;
    margin: auto;
    margin-bottom: 30px;
}


.pointsMessage {
    font-size: 6rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 1000;
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .chooseOneMobile {
        font-size: 3rem;
        font-family: 'Kanit';
    }
}

