.teamDiv {
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
}

.rpsGif {
    border-radius: 2rem;
    height: 40%;
    margin-bottom: 20px;
    width: 50%;
}