.bonusTitle {
    font-size: 3rem;
}

.teamDiv {
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
}
.statusMessage {
    font-size: 2rem;
}

.rpsGif {
    border-radius: 2rem;
    height: 40%;
}