
@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Bold.ttf');
  }

.bonusTitle {
    font-size: 2.5rem;
}

.teamDiv {
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
}
.statusMessage {
    font-size: 2rem;
}
.statusMessageMobile {
    display: none;
}

.rpsGif {
    border-radius: 2rem;
    height: 40%;
}

@media only screen and (max-width: 767px) {
    .bonusTitle {
        display: none;
        font-size: 1.5rem;
    }

    .bonusTeamOption {
        align-items: center;
        display: flex;
        font-size: 1rem !important;
        justify-content: center;
        height: 12vw;
    }

    .rpsGif {
        width: 70%;
    }

    .statusMessage {
        display: none;
    }

    .statusMessageMobile {
        display: block;
        font-family: 'Kanit';
        font-size: 1.5rem;
    }
}