

.boxCont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5vh;
    width: 60vw;
}

.pointsBox, .pointsBoxFlash, .pointsBoxRed, .pointsBoxBlue, .pointsBoxGreen {
    align-items: center;
    border: solid;
    border-radius: 5rem;
    display: flex;
    font-size: 4rem;
    height: 15vh;
    justify-content: center;
    margin-bottom: 30px;
    width: 15%;
}
.pointsBoxFlash {
    background-color: aquamarine;
    border: solid 5px;
    border-radius: 5rem;
    padding: 2px;
    background-color: lightgreen;
}
.pointsBoxRed {
    background-color: red;
    border: solid;
    border-radius: 5rem;
    color: white;
}
.pointsBoxBlue {
    background-color: blue;
    border: solid;
    border-radius: 5rem;
    color: white;
}
.pointsBoxGreen {
    background-color: green;
    border: solid;
    border-radius: 5rem;
    color: white;
}

.pointsMessage {
    font-size: 6rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 1000;
    margin: auto;
    text-align: center;
}

.stopButton {
    background-color: #e40c2b;
    border-radius: 5rem;
    color: white;
    margin-bottom: 20px;
    font-size: 5rem;
    font-family: 'Sigmar', cursive;
    padding: 25px;
}

@media only screen and (max-width: 767px) {
    


    /* .boxCont {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 5vh;
        width: 60vw;
    }
    
    .pointsBox, .pointsBoxFlash, .pointsBoxRed, .pointsBoxBlue, .pointsBoxGreen {
        align-items: center;
        border: solid;
        border-radius: 5rem;
        display: flex;
        font-size: 4rem;
        height: 15vh;
        justify-content: center;
        margin-bottom: 30px;
        width: 15%;
    } */

    .boxCont {
        width: 100vw;
    }

    .pointsBox, .pointsBoxFlash, .pointsBoxRed, .pointsBoxBlue, .pointsBoxGreen {
        font-size: 3rem;
        padding: 15px;
        
    }

    .stopButton {
        font-size: 2rem;
    }
}