@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-VariableFont_wght.ttf');
}

.navbarWrapper {
  background-color: #F7F4E9;
  width: 100%;
}

.mobileWarning {
  display: none;
}

@media only screen and (max-width: 767px) {
  .contentWrapper {
    display: none;
  }
  .mobileWarning {
    background-color: #F7F4E9;
    border-radius: 2rem;
    color: #1d1d2c;
    font-family: 'Oswald';
    font-size: 1.5rem;
    display: block;
    height: 120px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    width: 70%;
  }
}