.okayButton {
    background-color: #EBA63F;
    border-radius: 2rem;
    box-shadow: 5px 5px #1d1d2c;
    font-size: 2rem;
    font-family: 'Sigmar', cursive;
    margin: auto;
    padding: 15px;
}
.okayButton:hover {
    color: #E40C2B;
}

.sectionRow {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: 'Sigmar', cursive;
    margin-bottom: 20px;
    text-align: center;
}