.playCont, .anotherCont {
    background-color: #1d1d2c;
    border-radius: 5rem;
    display: flex;
    font-size: 4rem;
    justify-content: space-evenly;
    margin: auto;
    padding: 15px;
    width: 50%;
}



.finishedCont {
    display: flex;
    flex-direction: column;
    height: 80%;
}
.finishedIcon {
    width: 30%;
}
.finishedLabel {
    width: 70%;
}

.anotherCont {
    color: pink;
}
.playCont {
    color: lightgreen;
}

.playCont:hover, .anotherCont:hover {
    color: red;
}

.createCont {
    background-color: #F7F4E9;
    border-radius: 2rem;
    color: #1d1d2c;
    display: flex;
    flex-direction: column;
    height: 700px;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 90px;
    padding: 1%;
    text-align: center;
    width: 70%;
    box-shadow: inset 0 0 30px #000;
    transform: translateX(-200vh);
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}


.createTitle {
    color: #1d1d2c;
    font-family: "Bebas Neue" !important;
    font-size: 3rem !important;
    font-weight: 100;
    margin-top: 50px;
}

.errorMsg {
    color: red;
    font-size: 4rem;
    margin-bottom: 10px;
}

.exampleCont {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    height: 100px;
}

.exampleInput {
    font-family: 'Comic';
    margin: auto;
    font-size: 2rem;
    width: 100%;
}

.createSubHeader {
    font-family: 'Comic';
    font-weight: bolder;
    font-size: 2.5rem;
    text-decoration: underline;
}

.singleLineInput {
    font-size: 2rem;
    font-family: 'Comic';
    padding: 1%;
    width: 70%;
}

.sectionRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    margin-top: 20px;    
    
}

.quizLinkCont {
    border: solid;
    margin: auto;
    width: 80%;
}

.quizLink {
    font-size: 20px;
    text-decoration: none;
}

.questionInput {
    margin: auto;
    font-family: 'Comic';
    margin-top: 30px;
    min-height: 200px;
    width: 100%;
    font-size: 2rem;
    padding: 1%;
}

.questionSection {
    color: #1d1d2c;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    font-family: 'Kanit', sans-serif;
    margin: auto;
    margin-top: 30px;
    width: 70%;
}

.createButton {
    background-color: #EBA63F;
    border-radius: 2rem;
    box-shadow: 5px 5px #1d1d2c;
    font-size: 2rem;
    font-family: 'Sigmar', cursive;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    width: 30%;
}
.createButton:hover {
    border-color: #e40c2b;
    color: #e40c2b;
}

@media only screen and (max-width: 767px) {
    .createSubHeader {
        font-size: 1.5rem;
    }

}