.copyCont, .playCont {
    background-color: #1d1d2c;
    border-radius: 2rem;
    display: flex;
    font-size: 3rem;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 30px;
    padding: 5px;
    width: 50%;
}

.copyCont {
    color: white;
}

.playCont {
    color: lightgreen;
}

.copyCont:hover, .playCont:hover {
    color: red;
}

.createCont {
    background-color: #F7F4E9;
    border-radius: 2rem;
    color: #1d1d2c;
    margin: auto;
    margin-top: 90px;
    padding: 3%;
    text-align: center;
    width: 70%;
    box-shadow: inset 0 0 30px #000;
    
  }


.createTitle {
    color: #1d1d2c;
    font-size: 4rem;
    font-family: 'Bebas Neue';
}

.errorMsg {
    color: red;
    font-size: 4rem;
    margin-bottom: 10px;
}

.exampleCont {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    height: 200px;
}

.exampleInput {
    font-family: 'Comic';
    margin: auto;
    width: 100%;
}

.sectionName {
    color: #1d1d2c;
    font-size: 3rem;
    font-family: 'Kanit', sans-serif;
    height: 100%;
    width: 20%;
}

.createSubHeader {
    font-family: 'Comic';
    font-weight: bolder;
    font-size: 3rem;
    text-decoration: underline;
}

.singleLineInput {
    font-size: 2rem;
    font-family: 'Comic';
    padding: 1%;
    width: 80%;
}

.sectionRow {

    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    margin-top: 20px;    
    
}

.quizLinkCont {
    border: solid;
    margin: auto;
    width: 80%;
}

.quizLink {
    font-size: 20px;
    text-decoration: none;
}

.questionInput {
    margin: auto;
    font-family: 'Comic';
    margin-top: 30px;
    min-height: 200px;
    width: 80%;
    font-size: 2rem;
    padding: 1%;
}

.questionSection {
    color: #1d1d2c;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    font-family: 'Kanit', sans-serif;
    margin: auto;
    margin-top: 30px;
}

.createButton {
    background-color: #EBA63F;
    border-radius: 2rem;
    box-shadow: 5px 5px #1d1d2c;
    font-size: 2rem;
    font-family: 'Sigmar', cursive;
    margin-top: 20px;
    padding: 15px;
}
.createButton:hover {
    border-color: #e40c2b;
    color: #e40c2b;
}