
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf');
}
@font-face {
  font-family: 'BlackHanSans';
  src: url('../fonts/BlackHanSans-Regular.ttf');
}
@font-face {
  font-family: 'Sigmar';
  src: url('../fonts/Sigmar-Regular.ttf');
}
@font-face {
  font-family: 'KanitBold';
  src: url('../fonts/Kanit-Bold.ttf');
}

.animate__animated.animate__bounce {
    --animate-duration: 2s;
  }

.bonusCont {
  align-items: center;
    background-color: #F7F4E9;
    border-radius: 2rem;
    color: #1d1d2c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
    height: 550px;
    margin-top: 60px;
    padding: 30px;
    text-align: center;
}

.winnerMessageCont {
    opacity: 1; 
    animation: fadeIn 10s; 
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1; 
    }
  }

.bonusSubCont {
    display: flex;
    flex-direction: column;
}

.bonusTeamsCont {
    margin-bottom: 2px;
    text-align: center;
}

.bonusTitle {
    color: #1d1d2c;
    font-size: 4rem;
    font-family: 'KanitBold';
    font-weight: 1000;
    margin-bottom: 10px;
    margin-top: 5px;
}

.fade {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade.fade-out {
    opacity: 0;
  }
  
  .fade.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.5s; /* Delay the fade-in effect */
  }

.okayButton {
    background-color: #EBA63F;
    border-radius: 2rem;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 5px 5px #1d1d2c;
    font-size: 2.5rem;
    font-family: 'Sigmar';
    padding: 15px;
    width: 40%;
    opacity: 1; 
    animation: fadeIn 10s; 
}
.okayButton:hover {
    color: #e40c2b;
}

.revealButton {
  border-radius: 2rem;
  display: inline-block;
  padding: 12px 24px;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff5e3a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 70%;
}

.revealButton:hover {
  background-color: #ff7f61;
}

.revealButton:active {
  background-color: #d82a00;
}

.saxManGif {
    bottom: 0;
    position: absolute;
}

.winnerMessage {
  font-family: 'BlackHanSans';
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 4px;
  opacity: 1; 
  animation: fadeIn 10s; 
  -webkit-text-stroke: 2px #000;
  -webkit-text-fill-color: #EBA63F;
}