
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf');
}
@font-face {
  font-family: 'BlackHanSans';
  src: url('../fonts/BlackHanSans-Regular.ttf');
}
@font-face {
  font-family: 'Sigmar';
  src: url('../fonts/Sigmar-Regular.ttf');
}
@font-face {
  font-family: 'KanitBold';
  src: url('../fonts/Kanit-Bold.ttf');
}

.animate__animated.animate__bounce {
    --animate-duration: 2s;
  }

.finishCont {
  align-items: center;
  border-radius: 2rem;
  color: #1d1d2c;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  width: 80%;
}
.finishSubCont {
    background-color: #F7F4E9;
    border-radius: 2rem;
    color: #1d1d2c;
    font-size: 3rem;
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

.lowerCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: fadeIn 10s; 

}

.playAgain {
    background-color: #EBA63F;
    border-radius: 2rem;
    margin-bottom: 20px;
    box-shadow: 5px 5px #1d1d2c;
    font-size: 2.5rem;
    font-family: 'Sigmar';
    padding: 15px;
    opacity: 1; 
    animation: fadeIn 10s; 
    height: 50%;
    margin: auto; 
}

.playAgain:hover {
    color: #e40c2b;
}

.revealButton {
  border-radius: 5rem;
  padding: 54px;
  font-size: 6rem;
  font-weight: bold;
  margin: auto;
  margin-top: 150px;
  color: #fff;
  background-color: #ff5e3a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  width: 50%;
}

.revealButton:hover {
  background-color: #ff7f61;
}

.revealButton:active {
  background-color: #d82a00;
}

.saxManGif {
  animation: fadeIn 10s; 
}


.winnerMessageCont {
  opacity: 1; 
  animation: fadeIn 10s; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; 
  }
}

.winnerMessage {
  font-family: 'BlackHanSans';
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 2px;
  opacity: 1; 
  animation: fadeIn 10s; 
  -webkit-text-stroke: 2px #000;
  -webkit-text-fill-color: #EBA63F;
}

.winningTeams {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media only screen and (max-width: 767px) {

  .finishCont {
    margin-top: 0px;
  
  }

  .revealButton {
    font-size: 2rem;
    width: 80%;
  }

  .saxManGif {
    position: fixed;
    bottom: 0;
    height: 40%;
    width: 80%;
  }

  .winnerMessage {
    font-size: 2rem;
  }

}