@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

.mainCont {
    align-items: center;
    background-color: #F7F4E9;
    border-radius: 2rem;
    color: #1d1d2c;
    height: 900px;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

.gridCont {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.gridSquare, .gridSquareComplete {
    font-family: 'Sigmar', cursive;
}

.gridSquareComplete {
    background-color: #1d1d2c;
}