.mainCont {
    align-items: center;
    background-color: #F7F4E9;
    border-radius: 2rem;
    color: #1d1d2c;
    height: 700px;
    justify-content: center;
    margin-right: 5vw;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    width: 80%;
}

.gridScoreCont {
    display: flex;
    flex-direction: row;
}

.scoresCont {
    margin: auto;
    width: 50%;
}

.gridSquare, .gridSquareComplete {
    font-family: 'Sigmar', cursive;
}

.gridSquareComplete {
    background-color: #1d1d2c;
}

.teamCont, .teamContSelected {
    border-radius: 2rem;
    color: #1d1d2c;
    margin-top: 20px;
    text-align: center;
}
.teamCont {
    padding: 10px;
}
.teamContSelected {
    border: 10px solid #F7F4E9;
    padding: 30px;
}

.teamName {
    font-family: 'Sigmar', cursive;
    font-size: 2rem;
}

.teamScore {
    font-size: 4rem;
}