@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

.gridCont {
    background-color: #F7F4E9;
    border-radius: 2rem;
    color: #1d1d2c;
    margin-top: 60px;
    padding: 20px;
}

.gridSquare, .gridSquareComplete {
    font-family: 'Sigmar', cursive;
}

.gridSquareComplete {
    background-color: #1d1d2c;
}