
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Righteous';
    src: url('../fonts/Righteous-Regular.ttf');
}

.accountCont {
    display: flex;
    justify-content: flex-end;
    color: #1d1d2c;
    font-family: "Bebas Neue";
    font-size: 2rem;
}

.findCont {
    display: flex;
    color: #1d1d2c;
    font-family: "Bebas Neue";
    font-size: 2rem;
}

.navbarCont {
    background-color: #F7F4E9;
    margin-top: 15px;
    justify-content: space-between;
}

.navbarIcon:hover {
    background-color: #1d1d2c;
}

.titleCont {
    text-align: center;
}


h1 {
    color: #e40c2b;
    font-family: 'Bruno Ace SC', cursive;
    font-size: 70px;
    font-weight: 900;
    background-image: repeating-radial-gradient(closest-corner at 20px 30px,#e40c2b, #1d1d2c, #e40c2b);    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
