
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Righteous';
    src: url('../fonts/Righteous-Regular.ttf');
}

.accountCont {
    display: flex;
    justify-content: flex-end;
    color: #1d1d2c;
    font-family: "Bebas Neue";
    font-size: 2rem;
}

.findCont {
    display: flex;
    color: #1d1d2c;
    font-family: "Bebas Neue";
    font-size: 2rem;
}

.navbarCont {
    background-color: #F7F4E9;
    margin-top: 30px;
    justify-content: space-between;
}

.navbarIcon:hover {
    background-color: #1d1d2c;
}

.titleCont {
    color: #E40C2B;
    background-clip: text;
    font-family: 'Bruno Ace SC', cursive;
    font-size: 70px;
    text-align: center;
}