.answer {
    color: #438945;
    font-family: 'Sigmar', cursive;
    font-size: 3rem;
}


.questionCont {
    background-color: #F7F4E9;
    border-radius: 2rem;
    color: #1d1d2c;
    margin: auto;
    margin-top: 60px;
    padding: 30px;
    text-align: center;
}

.questionTitle {
    color: #1d1d2c;
    font-size: 3rem;
    font-family: 'Sigmar', cursive;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
}

.showAnswer {
    background-color: #EBA63F;
    border-radius: 2rem;
    margin-top: 30px;
    box-shadow: 5px 5px #1d1d2c;
    font-size: 2.5rem;
    font-family: 'Sigmar', cursive;
    padding: 15px;
}
.showAnswer:hover {
    color: #e40c2b;
}