
@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Bold.ttf');
  }

@font-face {
    font-family: 'Sigmar';
    src: url('../fonts/Sigmar-Regular.ttf');
  }

.answer {
    color: #438945;
    font-family: 'Kanit', sans-serif;
    font-size: 5vw;
}

.correctWrongCont {
    display: flex;
    justify-content: space-evenly;
}

.correctIcon, .wrongIcon {
    color: #F7F4E9;
    border-radius: 3rem;
    font-size: 120px;
    padding: 10px;
}
.correctIcon {
    background-color: #438945;
}
.wrongIcon {
    background-color: #E40C2B;
}

.correctMessage, .wrongMessage {
    font-size: 6rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 1000;
    margin: auto;
    text-align: center;
}
.correctMessage {
    color: #438945;
}
.wrongMessage {
    color: #E40C2B;
}

.questionCont {
    display: flex;
    flex-direction: column;
    height: 100vw;
    justify-content: space-evenly;
}
.questionSubCont {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
}

.questionIcon {
    color: #3CBCC3;
    font-size: 20rem;
    margin: auto;
    padding: 40px;
}

.questionPrompt {
    color: #1d1d2c;
    font-size: 3vw;
    font-family: 'Kanit', sans-serif;
    font-weight: 1000;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
}

.showAnswer {
    background-color: #EBA63F;
    border-radius: 2rem;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 5px 5px #1d1d2c;
    font-size: 2.5rem;
    font-family: 'Sigmar', cursive;
    padding: 15px;
    width: 40%;
}
.showAnswer:hover {
    color: #e40c2b;
}

@media only screen and (max-width: 767px) {
    .answer {
        font-size: 8vw;
    }
    .correctIcon, .wrongIcon {
        font-size: 3rem;
    }
    .correctMessage, .wrongMessage {
        font-size: 15vw;
    }
    .questionIcon {
        font-size: 5rem;
    }

    .questionPrompt {
        font-size: 6vw;
    }
    .showAnswer {
        font-size: 1rem;
    }
}