@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Sigmar&display=swap');

.answer {
    color: #438945;
    font-family: 'Kanit', sans-serif;
    font-size: 6rem;
}

.correctWrongCont {
    display: flex;
    justify-content: space-evenly;
}
.correctIcon, .wrongIcon {
    color: #F7F4E9;
    border-radius: 3rem;
    font-size: 150px;
    padding: 10px;
}
.correctIcon {
    background-color: #438945;
}
.wrongIcon {
    background-color: #E40C2B;
}

.correctMessage, .wrongMessage {
    font-size: 6rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 1000;
    margin: auto;
    text-align: center;
}
.correctMessage {
    color: #438945;
}
.wrongMessage {
    color: #E40C2B;

}

.questionCont {
    background-color: #F7F4E9;
    border-radius: 2rem;
    color: #1d1d2c;
    display: flex;
    flex-direction: column;
    height: 600px;
    margin-top: 60px;
    padding: 10px;
    text-align: center;
}

.questionIcon {
    color: #3CBCC3;
    font-size: 20rem;
    margin: auto;
    padding: 40px;
}

.questionTitle {
    color: #1d1d2c;
    font-size: 4.5rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 1000;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
}

.showAnswer {
    background-color: #EBA63F;
    border-radius: 2rem;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 5px 5px #1d1d2c;
    font-size: 2.5rem;
    font-family: 'Sigmar', cursive;
    padding: 15px;
    width: 40%;
}
.showAnswer:hover {
    color: #e40c2b;
}