@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');


.scoresCont {
    margin-left: 100px;
}

.teamCont, .teamContSelected {
    border-radius: 2rem;
    color: #1d1d2c;
    margin-top: 60px;
    text-align: center;
}
.teamCont {
    padding: 20px;
}
.teamContSelected {
    border: 10px solid #F7F4E9;
    padding: 30px;
}

.teamName {
    font-family: 'Sigmar', cursive;
    font-size: 3rem;
}

.teamScore {
    font-size: 4rem;
}