

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Comic';
    src: url('../fonts/ComicNeue-Regular.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-VariableFont_wght.ttf');
}

.loadingLabel {
    margin-right: 20px;
    font-family: 'Comic';
}

.pageCont {
    font-family: 'Comic';
    font-size: 2rem;
    width: 30%;
}

.searchButtonCont {
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 30%;
}
.changeLogo {
    color: #F7F4E9;
    font-size: 2.5rem;
    margin-right: 7px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loadingCont {
    margin-top: 50px;
}

.searchButton {
    background-color: #1d1d2c;
    border: solid;
    color: #F7F4E9;
    border-radius: 2rem;
    font-size: 2rem;
    font-family: 'Comic';
    min-height: 80px;
    padding: 10px;
}
.searchButton:hover {
    background-color:#E40C2B;
}

.pageArrows {
    margin-top: 10px;
    font-size: 3rem;
    margin-left: 5px;
    margin-right: 5px;
}
.pageArrows:hover {
    color: #E40C2B;
    transition: 0.3s ease-in;
}


.searchCont {
    background-color: #F7F4E9;
    border-radius: 2rem;
    color: #1d1d2c;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 30px;
    text-align: center;
}

.searchTopRow {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.searchSecondRow {
    height: 100px;
    margin: auto;
    margin-top: 10px;
}

.searchBar {
    font-size: 2rem;
    height: 50px;
}
.searchInput {
    font-size: 2rem;
    font-family: 'Oswald';
    margin-right: 10px;
}
.searchLogo {
    border: solid;
    border-radius: 2rem;
    padding: 7px;
}


.sectionName {
    color: #1d1d2c !important;
    font-family: "Bebas Neue" !important;
    font-size: 4rem !important;
    height: 60px !important;
    width: 50% !important;
}

.quizEven, .quizOdd {
    border: solid;
    border-radius: 2rem;
    font-family: 'Oswald';
    font-size: 2rem;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    width: 50%;
}
.quizEven:hover, .quizOdd:hover {
    color: red;
}
.quizEven {
    background-color: #f2e6ff;
}
.quizOdd {
    background-color: #ffece6;
}

.quizList {
    margin-bottom: 20px;
}

.warningLabel {
    color:#E40C2B;
    font-size: 2.5rem;
    font-family: 'Comic';
    margin-bottom: 50px;
}