

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Comic';
    src: url('../fonts/ComicNeue-Regular.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-VariableFont_wght.ttf');
}

.loadingLabel {
    margin-right: 20px;
    font-family: 'Comic';
}

.pageCont {
    font-family: 'Oswald';
    font-size: 2rem;
    width: 30%;
}

.searchButtonCont {
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 30%;
}
.changeLogo {
    color: #F7F4E9;
    font-size: 2.5rem;
    margin-right: 7px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loadingCont {
    margin-top: 50px;
}

.searchButton {
    background-color: #1d1d2c;
    border: solid;
    color: #F7F4E9;
    border-radius: 2rem;
    font-size: 2rem;
    font-family: 'Oswald';
    min-height: 80px;
    padding: 10px;
}
.searchButton:hover {
    background-color:#E40C2B;
}

.pageArrows {
    margin-top: 10px;
    font-size: 3rem;
    margin-left: 5px;
    margin-right: 5px;
}
.pageArrows:hover {
    color: #E40C2B;
    transition: 0.3s ease-in;
}


.searchCont {
    background-color: #F7F4E9;
    border-radius: 2rem;
    color: #1d1d2c;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 620px;
    margin-top: 140px;
    text-align: center;
    box-shadow: inset 0 0 10px #000;
}

.searchTopRow {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.searchSecondRow {
    margin: auto;
    margin-top: 10px;
}

.searchBar {
    font-size: 2rem;
    height: 50px;
}
.searchInput {
    font-size: 2rem;
    font-family: 'Oswald';
    margin-right: 10px;
}
.searchLogo {
    border: solid;
    border-radius: 2rem;
    padding: 7px;
}
.searchLogo:hover {
    background-color: darkgray;
}


.sectionName {
    color: #1d1d2c !important;
    font-family: "Bebas Neue" !important;
    font-size: 3rem !important;
    height: 60px !important;
    width: 50% !important;
}

.quizEven, .quizOdd {
    align-self: flex-start;
    box-shadow: 10px 10px 5px grey;
    color: #1d1d2c;
    border: solid;
    border-radius: 2rem;
    font-family: 'Oswald';
    font-size: 1.5rem;
    margin: 0 auto 20px auto; 
    padding: 20px;
    margin-bottom: 20px;
    width: 25%;
    animation-duration: 2s; 
    animation-iteration-count: infinite; 
}

@keyframes growAndShrink {
    0%, 100% {
        transform: scale(0.7); 
    }
    50% {
        transform: scale(1); 
    }
}


@keyframes shrinkAndGrow {
    0%, 100% {
        transform: scale(1); 
    }
    50% {
        transform: scale(0.7); 
    }
}
.quizEven {
    animation-name: growAndShrink;
}

.quizOdd {
    animation-name: shrinkAndGrow;
}

.quizEven:hover, .quizOdd:hover {
    background-color: #1d1d2c;
    color: #F7F4E9;
}

.quizList {
    align-items: flex-start;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.warningLabel {
    color:#E40C2B;
    font-size: 2.5rem;
    font-family: 'Comic';
    margin-bottom: 50px;
}