@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

.mainCont {
    background-color: #F7F4E9;
    border-radius: 2rem;
    color: #1d1d2c;
    margin-top: 90px;
}


.goodEvilCont {
    display: flex;
    flex-direction: row;
}
.goodEvilOption, .goodEvilOptionSelected {
    border: solid 2px #1d1d2c;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 3rem;
    margin: auto;
    padding: 10px;
    width: 20%;
}
.goodEvilOptionSelected {
    background-color: #EBA63F;
}
.goodEvilOption:hover {
    background-color: #EBA63F;
}


.goodIcon {
    color: #438945;
    font-weight: bolder;
    margin-bottom: 10px;
    width: 50%;
}

.evilIcon {
    color: #E40C2B;
    margin-bottom: 10px;
    width: 50%;
}
.tickIcon {
    color: #438945;
    width: 50%;
}
.crossIcon {
    color: #E40C2B;
    width: 50%;
}

.noneGoodEvil {
    margin: auto;
    font-size: 3rem;
}
.noneGoodEvil:hover {
    color: #e40c2b;
}
.noneGoodEvilSelected {
    margin: auto;
    font-size: 4rem;
    color: #e40c2b;
}

.someGoodEvil {
    margin: auto;
    font-size: 3rem;
}
.someGoodEvil:hover {
    color: #3CBCC3;
}
.someGoodEvilSelected {
    margin: auto;
    font-size: 4rem;
    color: #3CBCC3;
}

.allGoodEvil {
    margin: auto;
    font-size: 3rem;
}
.allGoodEvil:hover {
    color: #438945;
}
.allGoodEvilSelected {
    margin: auto;
    font-size: 4rem;
    color: #438945;
}

.sectionName {
    color: #1d1d2c;
    font-size: 2rem;
    font-family: 'Sigmar', cursive;
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: 5px;
}

.sectionRow {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: 'Sigmar', cursive;
    margin-bottom: 30px;
    text-align: center;
}

.startGameButton {
    background-color: #EBA63F;
    border-radius: 2rem;
    box-shadow: 5px 5px #1d1d2c;
    font-size: 2rem;
    font-family: 'Sigmar', cursive;
    margin: auto;
    padding: 15px;
}
.startGameButton:hover {
    border-color: #e40c2b;
    color: #e40c2b;
}

.startGameIcon {
    color: #1d1d2c;
    font-size: 2rem;
    margin-right: 10px;
}

.teamContainer {
    height: 220px;
    margin-bottom: 0%;
}

.teamIcon {
    font-size: 2rem;
}

.teamOption, .teamOptionSelected {
    border: solid 2px #1d1d2c;
    font-size: 1.5rem;
    margin: auto;
    padding: 6px;
    width: 40%;
    text-align: center;
}
.teamOption:hover {
    background-color: #EBA63F;
}
.teamOptionSelected {
    background-color: #EBA63F;
}