@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

.mainCont {
    background-color: #F7F4E9;
    border-radius: 2rem;
    color: #1d1d2c;
    margin-top: 90px;
}

.sectionName {
    color: #1d1d2c;
    font-size: 2rem;
    font-family: 'Sigmar', cursive;
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: 5px;
}

.specialCont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.specialOption {
    height: 100px;
}

.sectionRow {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: 'Sigmar', cursive;
    margin-bottom: 30px;
    text-align: center;
}

.startGameButton {
    background-color: #EBA63F;
    border-radius: 2rem;
    box-shadow: 5px 5px #1d1d2c;
    font-size: 2rem;
    font-family: 'Sigmar', cursive;
    margin: auto;
    padding: 15px;
}
.startGameButton:hover {
    border-color: #e40c2b;
    color: #e40c2b;
}

.startGameIcon {
    color: #1d1d2c;
    font-size: 2rem;
    margin-right: 10px;
}

.switch {
    }

.teamContainer {
    height: 220px;
    margin-bottom: 0%;
}

.teamIcon {
    font-size: 2rem;
}

.teamOption, .teamOptionSelected {
    border: solid 2px #1d1d2c;
    font-size: 1.5rem;
    margin: auto;
    padding: 6px;
    width: 40%;
    text-align: center;
}
.teamOption:hover {
    background-color: #EBA63F;
}
.teamOptionSelected {
    background-color: #EBA63F;
}